ion-toolbar {
  img {
    padding: 10px;
    cursor: pointer;
  }

  ion-button {
    padding-right: 10px;
  }
}

ion-slides {
    ion-slide {
        img {
            width: 100%;
            height: 200px;
            border-radius: 20px;
            padding: 2%;
            object-fit: cover;
            object-position: center center;
        }
    }
}

.buscador {
    ion-item {
        border: solid 2px var(--ion-color-light);
        border-radius: 10px;
    }
}

.subtitulos {
    --border-radius: 10px;
    padding-top: 5%;
}

.cardCategorias {
    cursor: pointer;
    text-align: center;
    ion-card-header {
        padding: 0px;
    }
    img {
        height: 100px;
        object-fit: contain;
    }
    .botones {
        display: flex;
        justify-content: center;
        ion-button {
            font-size: 11px; /* Ajusta el tamaño de la fuente según tus preferencias */
            min-width: auto;
        }
    }
}

.formCategoria { 
    ion-card {
        margin: 0 auto;
        text-align: center;
        width: 200px;
        ion-img {
            height: 200px;
        }
    }
    ion-item {
        border: solid 1px var(--ion-color-primary);
        border-radius: 10px;
    }
}