<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-row class="ion-justify-content-start ion-align-items-center">
      <ion-col size="2">
        <img src="../../assets/img/logo.png" alt="" (click)="irHome()">
      </ion-col>
      <ion-col size="8">
        <ion-label>| Nerio C. H.</ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-button size="small" shape="round" fill="outline" color="light">
          <ion-icon color="light" name="power-outline"></ion-icon> &nbsp;
          <ion-label>Cerrar Sesion</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-buttons>
      <ion-buttons slot="start">
        <ion-menu-button color="danger" menu="primerMenu">
        </ion-menu-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-grid>
    <ion-row>
      <ion-col size-xl="2" size-xs="1"></ion-col>
      <ion-col size-xl="8" size-xs="10">
        <ion-item class="subtitulos" lines="none">
          <ion-buttons slot="start">
            <ion-button color="primary" (click)="volver()">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-label>Categorias Generales</ion-label>
          <ion-button mode="ios" size="small" slot="end" id="modalCategoria" fill="outline">
            <ion-icon name="add"></ion-icon>Agregar categoria
          </ion-button>
        </ion-item>
        <ion-grid fixed>
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size-lg="4" size-xs="12" *ngFor="let categoria of listaCategorias">
              <ion-card class="cardCategorias" color="light" mode="ios">
                <ion-card-header (click)="irSubcategoria(categoria)">
                  <img [src]="categoria.img" alt="">
                </ion-card-header>
                <ion-card-content (click)="irSubcategoria(categoria)">
                  <ion-label>{{categoria.nombre | titlecase }}</ion-label>
                </ion-card-content>
                <div class="botones">
                  <ion-button color="success" size="small" fill="outline" shape="round">
                    <ion-icon name="create"></ion-icon>
                    <ion-label>Editar</ion-label>
                  </ion-button>
                  <ion-button color="danger" size="small" fill="outline" shape="round">
                    <ion-icon name="trash"></ion-icon>
                    <ion-label>Eliminar</ion-label>
                  </ion-button>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
          <div class="skeleton" *ngIf="!listaCategorias.length">
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-col size="4" *ngFor="let categoria of [1,1,1,1,1]">
                <ion-card color="light" mode="ios">
                  <ion-card-header>
                    <ion-skeleton-text animated style="width: 50%; height: 70%; margin: 0 auto;"></ion-skeleton-text>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-skeleton-text animated style="width: 100%; height: 30%; margin: 0 auto;"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 50%; height: 30%; margin: 0 auto; margin-top: 5px;"></ion-skeleton-text>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-col>
      <ion-col size-xl="2" size-xs="1"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal trigger="modalCategoria">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar color="light">
          <ion-buttons slot="start">
            <ion-button (click)="cerrarModal()" color="primary">
              <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title color="primary">Agregar categoria</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form class="formCategoria" [formGroup]="categoriaForm">
          <ion-card mode="ios" (click)="obtenerFotoCategoria()">
            <ion-img *ngIf="!foto" src="https://freesoft.ru/storage/images/news/1/6/555/555_text.png"></ion-img>
            <ion-img *ngIf="foto" [src]="foto"></ion-img>
          </ion-card> <br>
          <ion-item lines="none">
            <ion-label color="primary" position="floating">Nombre de categoria</ion-label>
            <ion-input formControlName="nombre" type="text" placeholder="Categoria"></ion-input>
          </ion-item> <br>
          <ion-item lines="none">
            <ion-label color="primary" position="floating">Descripcion de categoria</ion-label>
            <ion-textarea formControlName="descripcion" type="text" placeholder="Descripcion breve de la categoria..."></ion-textarea>
          </ion-item> <br>
          <ion-item lines="none">
            <ion-label color="primary">Visible</ion-label>
            <ion-checkbox (ionChange)="cambiarVisibilidad($event)" [(ngModel)]="visibilidad" [ngModelOptions]="{standalone: true}" slot="start"></ion-checkbox>
          </ion-item>
        </form>
        
      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-toolbar color="light">
          <ion-button (click)="guardarNuevaCategoria()" expand="block" shape="round">
            Guardar categoria
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>
