<ion-content>
  <div class="content">
    <form [formGroup]="LoginForm" autocomplete="off">
      <div class="logo">
        <img src="../../../assets/icon/logo.png" alt="">
      </div>
      <!-- <div class="iniciar">
        <ion-label color="primary">Iniciar Sesión</ion-label>
      </div> -->
      <ion-item>
        <ion-icon slot="start" color="primary" name="mail-outline"></ion-icon>
        <ion-input maxlength="60" formControlName="email" type="email" placeholder="Ingrese su correo"></ion-input>
      </ion-item>
      <div class="alertDanger"*ngIf="email.invalid && (email.dirty || email.touched)">
        <div class="mensajeError" *ngIf="!!email.errors?.['pattern']">
          <span>* Ingrese un correo válido</span><br>
        </div>
      </div>
      <ion-item>
        <ion-icon slot="start" color="primary" name="key-outline"></ion-icon>
        <ion-input maxlength="16" formControlName="password" type="password" placeholder="Ingrese su contraseña"></ion-input>
      </ion-item>
      <div class="alertDanger" *ngIf="password.invalid && (password.dirty || password.touched)">
        <div class="mensajeError" *ngIf="!!password.errors?.['minlength']">
          <span>* La contraseña debe tener al menos 6 digitos</span>
        </div>
        <div class="mensajeError" *ngIf="!!password.errors?.['required']">
          <span>* La contraseña es necesaria</span>
        </div>
      </div>
      <!-- <div class="olvido">
        <ion-label slot="end" color="primary">Olvidó su contraseña?</ion-label>
      </div> -->
      <ion-button fill="outline" color="light" expand="block" type="submit" (click)="logIn()">ingresar</ion-button>
      <!-- <div class="registro">
        <ion-label>No tienes una cuenta? <span [routerLink]="[ '/registro']">Registrate</span></ion-label>
      </div> -->
    </form>
  </div>
</ion-content>