<ion-menu side="start" menuId="primerMenu" contentId="principal" class="my-custom-menu">
  <ion-header class="ion-no-border">
    <div class="menuHeader">
      <div class="datosNegocio">
        <img src="https://thumbs.dreamstime.com/b/icono-formal-del-traje-del-hombre-73465164.jpg" alt=""><br>
        <ion-label class="tienda"  *ngIf="this.storage.datosAdmi">{{this.storage.datosAdmi.nombre}} {{this.storage.datosAdmi.apellidos}}</ion-label>
        <hr>
        <ion-label class="ubicacion" color="light" *ngIf="this.storage.datosAdmi"><ion-icon name="location" color="light"></ion-icon>&nbsp;{{this.storage.datosAdmi.sede}}</ion-label>
      </div>
    </div>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let c of componentes | async" (click)="menuSelected(c)">
        <ion-item [routerLink]="c.redirecTo" lines="none" [ngClass]="{'seleccionado': menuSeleccionado===c.name, 'NOseleccionado': c.name!==menuSeleccionado}">
          <ion-icon slot="start" name="{{c.icon}}" color="primary"></ion-icon>
          <ion-label>{{c.name}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  <ion-footer>
    <!-- <hr style="background-color: rgba(128, 128, 128, 0.548); height: 0.4px"> -->
    <ion-list>
        <ion-item lines="none">
          <ion-icon  (click)="cerrarSesion()" slot="start" color="primary" name="log-out-outline"></ion-icon>
          <ion-label  (click)="cerrarSesion()">Cerrar Sesión</ion-label>
          <ion-buttons slot="end" >
            <ion-button fill="clear" (click)="presentAlertPaway()">
              <ion-icon name="information-circle-outline" slot="icon-only"  color="dark"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
    </ion-list>
  </ion-footer>
</ion-menu>